extends base

block header
  - with headerMessage='Training 2 - Learning a new concept: Genes'
    include includes/header-anon

block content
  #Training2Modal(tabindex="-1", role="dialog", aria-labelledby="myModalLabel", aria-hidden="true").modal.fade
    .modal-dialog
      .modal-content
        .modal-body
          h2 The Genes Concept includes more than just gene names
          h2 <strong>Do NOT mark Diseases Concept terms in this tutorial.</strong>

          .panel.panel-info
            .panel-body
              h3.text-center Acquire the Gene Marking Skill by learning the Genes Concept.
              p.text-center The Genes Concept includes:
              ul.list-unstyled.list-inline.text-center
                li <strong>Genes</strong>
                  ul.list-unstyled
                    li Gene Names
                    li Gene Symbols
                li <strong>Gene Products</strong>
                  ul.list-unstyled
                    li Proteins
                    li MicroRNAs
        .modal-footer
          button(type="button", data-dismiss="modal").btn.btn-default Close
  .container
    .row.foot-space
      .col-md-12
        block step-instructions
          h2 A <strong>disease</strong> is a particular abnormal, pathological condition that affects part or all of an organism
          p In the box below, mark every instance of the disease (rule #1)

    #partner(style='display: none;').row.head-space
      .row
        .col-md-4.col-md-offset-4
          .alert.alert-success
            h2.text-center Good job!

    .row
      #quest-alerts.col-md-10.col-md-offset-1
      #quest.col-md-10.col-md-offset-1.paragraph-box
        block paragraph

    .row.head-space-xl
      .col-md-8.col-md-offset-2
        .progress
          block progress-bar
      .col-md-8.col-md-offset-2
        #next-container.pull-right
          block next-link


block post-footer
  include training/includes/intro-1-js
  include instructions/multi-concept-instructions-modal

  block answers

  script.
      var validation_check = function(collection) {
        if(validate(collection, answers)) { correct(); }
      };

