extends training/exp-2-intro-2/step-base

block step-instructions
  h2 A <strong>protein</strong> is the most common <strong>gene product</strong> that is encoded by a gene (or multiple genes) and will sometimes have the same name as the gene.
  p In the box below, mark the gene product (hint, it is the same abbreviation as the gene)

block paragraph
  p.paragraph Mutations affecting the CFTR protein cause perturbations in mucosal viscosity .

block progress-bar
  div(role='progressbar', aria-valuenow='25', aria-valuemin='0', aria-valuemax='100', style='width: 25%;').progress-bar.progress-bar-striped.active

block next-link
  a(href='{% url "training:two" step_num=3 %}', id='next', disabled).btn.btn-default.pull-right Next

block answers
  script.
      var help = [
        {text: 'protein', msg: 'Do not mark generic terms such as ‘gene’ or ‘protein’. Use them as hints to find the actual gene or protein and mark that instead'},
        {text: 'perturbations in mucosal viscosity', msg: 'Remember, the concept in this tutorial is genes and gene products, don’t mark disease concepts'},
        {text: 'CFTR protein', msg: 'Do not include generic terms such as ‘gene’ or ‘protein’ unless it is part of the gene or protein name.'},
      ];
      var answers = [{text: "CFTR", start: 24}];
