extends training/exp-2-intro-4/step-base

block step-instructions
  h2 Let’s start with the meaning of the color <span class='user_annotated'><strong>Blue</strong></span>.
  h2 <span class='user_annotated'><strong>Blue</strong></span> will refer to the Diseases Concept
  p In the box below, use your Disease Marking Skill to highlight disease concept terms in blue

block paragraph
  p.paragraph Ehlers–Danlos syndrome ( EDS ) is a connective tissue disorder caused by defects ...

block progress-bar
  div(role='progressbar', aria-valuenow='0', aria-valuemin='0', aria-valuemax='100', style='width: 0%;').progress-bar.progress-bar-striped.active

block next-link
  a(href='{% url "training:four" step_num=2 %}', id='next', disabled).btn.btn-default.pull-right Next

block highlightkey
  .row
    .col-xs-1
      h2 Key
    .col-xs-3.head-space
      div(role="group").btn-group-vertical
        a(href='{% url "instructions:disease-marking" %}', target='_blank', style='background-color: #d1f3ff;').btn.btn-info
          | Disease Concept  <i class="fa fa-external-link fa-lg"></i>

block answers
  script.
      $('#Training4Modal').modal('show');
      var help = [
        {text: 'Ehlers–Danlos syndrome ( EDS', msg: 'Whenever possible, don\'t mark disease abbreviations in the same span as the disease.'},
        {text: 'Ehlers–Danlos', msg: 'Almost, mark the entire name of the disease.'},
        {text: 'syndrome', msg: 'Almost, mark the entire name of the disease.'},
        {text: 'disorder', msg: 'Almost, mark the entire name of the disease class.'},
      ];
      var answers = [ {text: "Ehlers–Danlos syndrome", start: 0},
                      {text: 'EDS', start: 25},
                      {text: 'connective tissue disorder', start: 36}];
