extends training/exp-2-intro-4/step-base-multi

block step-instructions
  h2 Continue to mark disease concept terms in blue and gene concept terms in green

block progress-bar
  div(role='progressbar', aria-valuenow='40', aria-valuemin='0', aria-valuemax='100', style='width: 40%;').progress-bar.progress-bar-striped.active

block next-link
  a(href='{% url "training:four" step_num=4 %}', id='next', disabled).btn.btn-default.pull-right Next

block highlightkey
  .row
    .col-xs-1
      h2 Key
    .col-xs-3.head-space
      div(role="group").btn-group-vertical
        a(href='{% url "instructions:disease-marking" %}', target='_blank', style='background-color: #d1f3ff;').btn.btn-info
          | Disease Concept  <i class="fa fa-external-link fa-lg"></i>

        a(href='{% url "instructions:gene-marking" %}', target='_blank', style='background-color: #B1FFA8;').btn.btn-info
          | Genes Concept  <i class="fa fa-external-link fa-lg"></i>

block ypet
  include training/includes/intro-multi-js
  script.
    var self_data;
    YPet.addInitializer(function(options) {

      /* data fetches the original document and annotations */
      $.getJSON('/static/bioc/training/exp-2-intro-4/step-3.json', function( data ) {
          self_data = data;
          var passages = data.collection.document.passage;
          var regions = {};
          _.each(passages, function(passage, passage_idx) {
            $('#paragraphs').append('<div id="'+ passage.infon[2]['#text'] +'" class="paragraph-box"><p class="paragraph"></p></div></div>');
            regions[''+passage_idx] = '#'+passage.infon[2]['#text'];
          });
          YPet.addRegions(regions);

          _.each(passages, function(passage, passage_idx) {
            var p = new Paragraph({'text': passage.text});
            YPet[''+passage_idx].show( new WordCollectionView({
              collection: p.get('words'),
              passage_json: passage,
              bioc_json: data
            }) );
          });

          YPet[0].currentView.collection.parentDocument.get('annotations').on('add', function(model, collection) { validation_check(collection); });
          YPet[0].currentView.collection.parentDocument.get('annotations').on('change', function(model) { validation_check(model.collection); });
          YPet[0].currentView.collection.parentDocument.get('annotations').on('remove', function(model, collection) { validation_check(collection); });
          _.each(YPet[0].currentView.options.collection.first(30), function(word_model) {
            word_model.set('disabled', true);
            word_model.set('masked', true);
          });

      });
    });
    YPet.AnnotationTypes = new AnnotationTypeList([
      {name: 'Disease', color: '#d1f3ff'},
      {name: 'Gene', color: '#B1FFA8'},
    ]);
    YPet.start();


  script.
    var answers = [
      {text: "Ehlers–Danlos syndrome", start: 0, type: 0},
      {text: "EDS", start: 25, type: 0},
      {text: "connective tissue disorder", start: 36, type: 0},

      {text: "collagen 3A", start: 144, type: 1},
      {text: "collagen 5A", start: 160, type: 1},

      {text: "COL5A", start: 191, type: 1},
      {text: "COL3A", start: 200, type: 1},
      {text: "EDS", start: 252, type: 0}];

    var validation_check = function(collection) {
      if(validate(collection, answers)) { correct(); }
    };
