/*
  Yellow: E8DB47
  Green: 4AFF5A
  Purple: 7F3CFF
  Red: E85997
  Teal: 41FFD8
*/

/* =========================
        Header
========================= */

.navbar-default p {
  padding-top: 4px;
}

.navbar-default p a {
  color: #7F3CFF;
}

.navbar-default p a:hover {
  text-decoration: none;
  color: #fff;
  background-color: #7F3CFF;
}

/* =========================
        Footer
========================= */

#footer p,
#footer p a {
 font-family: 'Px Grotesk Light';
}

#footer p a {
  color: #E85997;
}

/* =========================
        Landing
========================= */

.landing-container.img-focus {
  border-top: 4px solid #f0f0ed;
  border-bottom: 4px solid #f0f0ed;
  background: url('/static/images/background_blur.jpg') no-repeat #f0f0ed;
  min-height: 300px;
}

.btn-start {
  margin-bottom: 12px;

  font-family: 'Px Grotesk Light Italic';
  font-weight: bold;

  text-align: center;
  font-size: 2em;
  border-radius: 0px;

  background-color: transparent;
  border: 4px solid #7F3CFF;
  color: #7F3CFF;

  border: 4px solid #fff;
  color: #fff;
  background-color: #7F3CFF;
}

@media (min-width: 768px) {
  .btn-start {
    margin-top: 90px;
  }
}

.p-start {
  margin-bottom: 12px;
  padding: 20px;

  font-family: 'Px Grotesk Light Italic';
  font-weight: bold;

  text-align: center;
  font-size: 2em;
  border-radius: 0px;

  background-color: #7F3CFF;
  border: 4px solid #fff;
  font-size: 2em !important;
  color: #fff !important;
}

.p-start .text-sub {
  font-size: .5em;
  font-family: 'Px Grotesk Light';
}
.p-start .text-sub a:hover { text-decoration: underline; }
.p-start .text-sub a { color: #fff; }

form.p-start {
  font-family: 'Px Grotesk Light Italic';
  font-weight: bold;

  padding-top: 6px;
  text-align: center;
  font-size: 1em !important;
  border-radius: 0px;

  background-color: rgba(255,255,255,.75);
  border: 4px solid #7F3CFF;
  color: #000 !important;
}

.btn-start small {
  font-family: 'Px Grotesk Light';
  font-weight: normal;
  font-size: .75em;
}

.btn-start:hover,
.btn-start:focus,
.btn-start:active {
  border: 4px solid #fff;
  color: #fff;
  background-color: #7F3CFF;
}

.landing-container h3 {
  font-family: 'Px Grotesk Light Italic';
  font-weight: bold;
  font-size: 2.5em;
  color: #E85997;
}

.landing-container p {
  font-size: 1.3em;
  color: #666;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
}

.landing-container p.lead {
  font-size: 1.9em;
  color: #444;
  text-shadow: 1px 1px 1px #fff;
}

ul.news li p {
  font-size: 1em;
  padding: 0px;
}

/* =========================
  About / Contact / Flatpages
========================= */

.about-container h2,
.contact-container h2 {
  font-family: 'Px Grotesk Light Italic';
  font-weight: bold;
  font-size: 2em;
  letter-spacing: 2px;
  color: #7F3CFF;
}

.about-container p,
.contact-container p {
  font-size: 1.3em;
  color: #666;
  padding: 12px;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
}

.contact-container h3 {
  font-family: 'Px Grotesk Light Italic';
  font-weight: bold;
  font-size: 2em;
  letter-spacing: 2px;
  color: #7F3CFF;
}

/* =========================
        Utilities
========================= */
.head-space-sm { margin-top: 10px; }
.head-space { margin-top: 20px; }
.head-space-xl { margin-top: 60px; }
.head-space-xl-xl { margin-top: 100px; }
.foot-space { margin-bottom: 20px; }
.foot-space-xl { margin-bottom: 60px; }
.foot-space-xl-xl { margin-bottom: 200px; }


.tooltip {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
}

#quest-alerts.affix {
  top: 0;
  z-index: 999;
  left: 0;
}

a.close-btn {
  display: block;
  position: absolute;
  top: 0; right: 4px;
  border-radius: 0 6px 0 6px;
  height: 22px;
  width: 22px;
  text-align: center;
  font-size: 22px;
}

.modal-body img.logo {
  width: 200px;
  margin: 0 auto;
  display: block;
  padding: 20px;
}

.line {
  background: #e7e7e7;
  height: 1px;
}

.line-text {
  font-family: 'Px Grotesk Light';
  position: relative;
  background: #ffffff;
  color: #777777;
  display: inline;
  top: -.7em;
  font-size: 1.6em;
  padding: 0px 6px;
}

.alert-paragraph-box h2 {
  margin-top: 0px;
}

.no-annotations,
.f-score h2 {
  font-size: 52px;
  margin-top: 0px;
  margin-bottom: 0px;
}

#dashboard .quest {
  height: 90px;
  border-bottom: 1px solid #f0f0ed;
  border-right: 1px solid #f0f0ed;
}

#dashboard .quest:hover {
  background-color: rgba(127,60,255, .8);
  cursor: pointer;
}

#dashboard .quest .progress {
  border-radius: 0px;
  box-shadow: none;
}

#dashboard .quest a,
#dashboard .quest a:hover {
  text-decoration: none;
}

#dashboard .quest a p {
  margin-top: 8px;
  margin-bottom: -2px;
}

#dashboard .quest a p {
  font-family: 'Px Grotesk Light';
  color: #7F3CFF;
  text-decoration: none;
}

#dashboard .quest:hover a p {
  color: #fff;
}

#leaderboard {
  text-transform: uppercase;
  letter-spacing: 2px;
}

#leaderboard h2,
#leaderboard h4 {
  cursor: pointer;
}

.font-purple {
  color: #7f3cff;
}

.quest-guide .doc-item-col {
  height: 40px;
}

.quest-guide .doc-item-col h4 {
  font-size: 30px;
  line-height: 22px;
}

.quest-guide .doc-item-col.active h4 {
  color: #7F3CFF;
  border-bottom: 4px solid #7F3CFF;
}
.quest-guide .doc-item-col.muted h4 {
  color: #000;
}

#dashboard span.glyphicon {
  font-size: 32px;
}

#dashboard .muted,
#dashboard span.glyphicon-ban-circle {
  color: #f0f0ed;
  margin-top: 26px;
}

#dashboard .muted,
#dashboard span.glyphicon-certificate {
  color: #E85997;
  margin-top: 16px;
}

#dashboard span.glyphicon.glyphicon-ok {
  margin-top: 16px;
  color: #4AFF5A;
}

#support-icon {
  position: fixed;
  bottom: 20px;
  right: 20px;
}

#support-icon:hover {
  cursor: pointer;
}

#support-icon img {
  height: 60px;
}

.modal-dialog {
  z-index: 1041;
}

#partner-info > h3 {
  color: #333;
  display: inline-block;
}

#partner-info > h3 a {
  color: #333;
}

blockquote p {
  padding-top: 2px;
  padding-bottom: 2px;
}

