extends base

- load widget_tweaks
- load brabeion_tags
- load humanize

block header
  - with headerMessage='Community Dashboard'
    include includes/header

block content

  .container
    - if messages
      - for message in messages
        - if 'safe' in message.tags
          .row
            .col-xs-10.col-xs-offset-1
              div(class='{{ message.tags }}').alert
                {{ message|safe }}

  .container-fluid
    .row
      .col-md-7.col-md-offset-1
        #dashboard

      .col-md-3.col-md-offset-0
        .row
          .col-md-8.col-md-offset-2.col-sm-12.col-sm-offset-0
            .panel.panel-default
              .panel-heading
                | My Stats
              .panel-body
                ol.list-unstyled
                  li
                    p Total Quests: #{user.userprofile.quests_count|intcomma}
                  li
                    p Total Annotations: #{user.userprofile.annotations_count|intcomma}
                  li
                    p Score: #{user.userprofile.rating_score|intcomma}
                  li
                    p Level: #{user.userprofile.highest_level.name}

                .row
                  .col-xs-12.text-center
                    a(href='{% url "userprofile:public-profile" username=user.username %}')
                      |  View Profile

        .row
          .col-md-8.col-md-offset-2.col-sm-12.col-sm-offset-0
            #leaderboard

  include document/includes/welcome-modal

block post-footer
    #fb-root
    - if welcome
      script.
        $('#dashboardWelcomeModal').modal('show');

    script.
      var draw_dashboard = function(group, quests) {
        $('#group-'+ group.pk).html('');
        var canvas = d3.select('#group-'+ group.pk);

        var available_quests = _.filter(quests, function(item) { return item.enabled && !item.completed });
        var completion_size = _.map(available_quests, function(item) { return item.completions; });

        var completion_scale = d3.scale.linear()
          .domain([_.min(completion_size), _.max(completion_size)])
          .range(['#00CCFF', '#E64C66']);

        var template = _.template("
        <div class='row'>
          <div class='col-xs-12 text-center'>
            <% if(d.progress.completed) { %>
              <span class='glyphicon glyphicon-certificate muted' title='The community has completed this Quest.'></span>

            <% } else if (d.user.completed) { %>
              <span class='glyphicon glyphicon-ok' title='You have completed this Quest.'></span>

            <% } else if (!d.user.enabled) { %>
              <span class='glyphicon glyphicon-ban-circle muted' title='This quest is not enabled.'></span>

            <% } else { %>
              <a href='/quest/<%- d.id %>/' title='Click to start this quest!'><p style='font-size: 1.75em; line-height: 1.8em;'><%- d.name %></p></a>

            <% } %>
          </div>
        </div>

        <% if(d.user.enabled) { %>
          <div class='row'>
            <div class='col-xs-12' title='This quest is <%- Math.round(progress) %>% complete.'>
              <div class='progress'>
                <div class='progress-bar' role='progressbar' aria-valuenow='<%- progress %>' aria-valuemin='0' aria-valuemax='100' style='width: <%- progress %>%;'>
                  <span><%- d.progress.current %> Completions</span>
                </div>
              </div>
            </div>
          </div>
        <% } %>
          ");

        var attrs = {
          'class': 'quest col-xs-4 col-sm-2 col-md-1',
        };
        var styles = {
        };
        var quest = canvas.selectAll('.quest').remove();
        var quest = canvas.selectAll('.quest').data(quests);

        quest.enter().append('div')
          .attr(attrs)
          .style(styles)
          .html(function(d, i) {
            return template({
              'd': d,
              'progress': (d.progress.current/d.progress.required)*100,
              'completions_scale': completion_scale(d.completions),
            });
          });
        quest.transition().attr(attrs);
        quest.exit().remove();
      };

      $.ajax({
        'type': 'GET',
        'url': '/api/groups/',
        'success': function(data) {
          _.each(data, function(v) {
            var template = _.template("
              <h3><a href='/group/<%- stub %>/'><%- name %></a></h3>
              <a href='/group/<%- stub %>'><p class='text-muted'><%- _.str.prune(description, 100) %></p></a>
              <div id='group-<%- pk %>' class='row head-space paragraph-box'>
                <div class='col-xs-12 text-center'>
                  <h2 class='quest-loading'>Loading...</h2>
                </div>
              </div>");
            $('#dashboard').append(template(v));

            $.ajax({
              'type': 'GET',
              'url': '/api/quest/'+ v.pk +'/',
              'success': function(data) {
                draw_dashboard(v, data);

                $('#dashboard .quest').click(function(evt) {
                  var link = $(this).find('a');
                  if(link.length) { location.href=link.attr('href'); }
                });

              }
            });


          });
        }
      });

    script.
      LeaderBoard.addInitializer(function(options) {
        LeaderBoard.addRegions({'leaderboard': '#leaderboard'});
        var settings = new LeaderBoardSettings();
        var users = new UserList();
        LeaderBoard['leaderboard'].show( new UserCompositeView({'model': settings, 'collection': users}) );
      });
      LeaderBoard.start();
