extends base

- load widget_tweaks
- load brabeion_tags
- load humanize

block header
  - with headerMessage=group.name
    include includes/header

block content

  .container
    - if messages
      - for message in messages
        - if 'safe' in message.tags
          .row
            .col-xs-10.col-xs-offset-1
              div(class='{{ message.tags }}').alert
                {{ message|safe }}

  .container
    .row
      - if group.description
        .col-md-10.col-md-offset-1.head-space
          p.lead #{group.description}

      .col-md-10.col-md-offset-1.head-space
        -with progress=group.percentage_complete
          - if progress
            h4.progress-label Community progress on this set:
            .progress
              div(role='progressbar', aria-valuenow='{{ progress }}', aria-valuemin='0', aria-valuemax='100', style='width: {{progress}}%;').progress-bar.active
                #{progress|floatformat:"2"}%

      .col-md-10.col-md-offset-1
        #dashboard


block post-footer
    #fb-root

    script.
      var draw_dashboard = function(group, quests) {
        $('#group-'+ group.pk).html('');
        var canvas = d3.select('#group-'+ group.pk);

        var available_quests = _.filter(quests, function(item) { return item.enabled && !item.completed });
        var completion_size = _.map(available_quests, function(item) { return item.completions; });

        var completion_scale = d3.scale.linear()
          .domain([_.min(completion_size), _.max(completion_size)])
          .range(['#00CCFF', '#E64C66']);

        var template = _.template("
        <div class='row'>
          <div class='col-xs-12 text-center'>
            <% if(d.progress.completed) { %>
              <span class='glyphicon glyphicon-certificate muted' title='The community has completed this Quest.'></span>

            <% } else if (d.user.completed) { %>
              <span class='glyphicon glyphicon-ok' title='You have completed this Quest.'></span>

            <% } else if (!d.user.enabled) { %>
              <span class='glyphicon glyphicon-ban-circle muted' title='This quest is not enabled.'></span>

            <% } else { %>
              <a href='/quest/<%- d.id %>/' title='Click to start this quest!'><p style='font-size: 1.75em; line-height: 1.8em;'><%- d.name %></p></a>

            <% } %>
          </div>
        </div>

        <% if(d.user.enabled) { %>
          <div class='row'>
            <div class='col-xs-12' title='This quest is <%- Math.round(progress) %>% complete.'>
              <div class='progress'>
                <div class='progress-bar' role='progressbar' aria-valuenow='<%- progress %>' aria-valuemin='0' aria-valuemax='100' style='width: <%- progress %>%;'>
                  <span><%- d.progress.current %> Completions</span>
                </div>
              </div>
            </div>
          </div>
        <% } %>
          ");

        var attrs = {
          'class': 'quest col-xs-4 col-sm-2 col-md-1',
        };
        var styles = {
        };
        var quest = canvas.selectAll('.quest').remove();
        var quest = canvas.selectAll('.quest').data(quests);

        quest.enter().append('div')
          .attr(attrs)
          .style(styles)
          .html(function(d, i) {
            return template({
              'd': d,
              'progress': (d.progress.current/d.progress.required)*100,
              'completions_scale': completion_scale(d.completions),
            });
          });
        quest.transition().attr(attrs);
        quest.exit().remove();
      };


      var pk = #{group.pk};
      var template = _.template("
        <h3><%- name %></h3>
        <div id='group-<%- pk %>' class='row head-space paragraph-box'>
          <div class='col-xs-12 text-center'>
            <h2 class='quest-loading'>Loading...</h2>
          </div>
        </div>");
      $('#dashboard').append(template({'pk': pk}));

      $.ajax({
        'type': 'GET',
        'url': '/api/quest/'+ pk +'/',
        'success': function(data) {
          draw_dashboard({'pk': pk}, data);

          $('#dashboard .quest').click(function(evt) {
            var link = $(this).find('a');
            if(link.length) { location.href=link.attr('href'); }
          });

        }
      });
