extends base

- load widget_tweaks
- load brabeion_tags

block header
  - with headerMessage=task.name
    include includes/header-quest

block content
  .container-fluid
    div(style="background: #f5f5f5;").row
      .col-xs-6.col-xs-offset-1

        // Document header Information
        // 1) List of document Icons
        // 2) Ongoing score (live)
        // 3) Current Level (not live)
        .row.quest-guide
          - for doc in completed_doc_pks
            div.doc-item-col.col-xs-2.col-sm-1.text-center
              h4.text-muted &#8226;

          - each val, index in uncompleted_docs
            div.doc-item-col.col-xs-2.col-sm-1.text-center
              - if index == 0
                h4(style="color: #7F3CFF;") &#8226;
              - else
                h4 &#8226;

      .col-xs-2
        h4.pull-right Score: <span id='score'>#{user.userprofile.rating_score}</span>
      .col-xs-2
        h4 Level: #{user.userprofile.highest_level.name}

    #partner-results(style='display:none;').row
      .col-xs-8.col-xs-offset-2
        .row.alert.alert-info.alert-info-minimal.alert-sticky
          #partner-info.col-sm-4
            p(style='margin-bottom: 0px;')
              small You were paired with:

            h3#partner-username(style='margin-top: 0px;')
            h4 Level: <span id="partner-level"></span>

          .col-xs-8
            h2#flatter.text-center
            h3.text-center
              | Earned
              | <span id='points'></span>
              | points!


    #new-alert-congrats(style='display:none;').row
      .col-xs-8.col-xs-offset-2
        .row.alert.alert-info.alert-info-minimal.alert-sticky
            h2.text-center New Annotations!
            h3.text-center You earned 1,000 points for marking this new document
            p.text-center You were the first person to annotate this document, <strong>thank you</strong> for your contribution to science!
            //h2.text-center New Document!
            //h3.text-center Unfortunately you didn't earn any points because no annotations were provided ;(

    .row
      div(id="doc_{{document.pk}}", data-doc_pk="{{document.pk}}", data-pmid="{{document.document_id}}").container.document
        .paragraphs

        // Hiden form in place to submit the document annotations
        form(method='post', action='/quest/{{task.pk}}/{{document.pk}}/submit/', style="display:none;").form-via-ajax
          - csrf_token

  .container.head-space
    .row
      .col-xs-3
        div(role="group").btn-group-vertical
          a(href='{% url "instructions:disease-marking" %}', target='_blank', style='background-color: #d1f3ff;').btn.btn-info
            | Disease Concept  <i class="fa fa-external-link fa-lg"></i>

          a(href='{% url "instructions:gene-marking" %}', target='_blank', style='background-color: #B1FFA8;').btn.btn-info
            | Genes Concept  <i class="fa fa-external-link fa-lg"></i>

          a(href='{% url "instructions:treatment-marking" %}', target='_blank', style='background-color: #ffd1dc;').btn.btn-info
            | Treatments Concept  <i class="fa fa-external-link fa-lg"></i>

      // Init all submission events
      // 1) Submit the document
      // 2) Go to next document (after review)
      // 3) Submit the Quest as complete
      div(style="padding-top:2px;").col-xs-4.col-xs-offset-1
        a(id="quest-submit", href='/quest/{{task.pk}}/').button.btn.btn-default.btn-block.done Submit


      #google_annotation.col-xs-4
          a(href='#', target='_blank', style='background-color: #f5f5f5;').btn.btn-block.btn-info
            | Search <i class="fa fa-external-link fa-lg"></i>
            br
            small

block post-footer
  script.
    var task_id = "{{ task.pk }}";
    var self_data, passages, regions;

    YPet.addInitializer(function(options) {

      $.getJSON('/document/{{document.document_id}}.json', function( data ) {
        self_data = data;
        passages = data.collection.document.passage;
        regions = {};

        _.each(passages, function(passage, passage_idx) {
          var p_body = '<div id="'+ passage.infon[2]['#text'] +'" class="paragraph-box head-space"><p class="paragraph"></p></div></div>';
          $('.paragraphs').append(p_body);
          regions[''+passage_idx] = '#'+passage.infon[2]['#text'];
        });
        YPet.addRegions(regions);

        _.each(passages, function(passage, passage_idx) {
          var p = new Paragraph({'text': passage.text});
          YPet[''+passage_idx].show( new WordCollectionView({
            collection: p.get('words'),
            passage_json: passage,
            bioc_json: data
          }) );
        });

        _.each(passages, function(passage, passage_idx) {
          YPet[''+passage_idx].currentView.collection.parentDocument.get('annotations').on('change', function(model, collection) {
            var model_json = model.toJSON();
            set_google_annotation(model_json.text);
          });
        });

      });
    });
    YPet.start();

    function set_google_annotation(ann_text) {
      var url = 'https://www.google.com/search?q='+ann_text;
      $('#google_annotation a').attr('href', url);
      $('#google_annotation a small').text(_.str.truncate(ann_text, 36));
    };

    var clicks = 0;
    $('#quest-submit').on('click', function(evt) {
      $(this).attr('disabled', true);
      if(clicks > 0) { return; }
      if(clicks == 0) { evt.preventDefault(); clicks++; }

      /*
       * AJAX submit all of the current Annotaitons
       */
      var counter = 0,
          ann_counter = 0;

      /* Iterate over each of the paragraphs or annotatable sections on the page */
      _.each(passages, function(passage, passage_idx) {

        var section_pk = +_.find(passage.infon, function(o){return o['@key']=='id';})['#text'],
            annotations = YPet[passage_idx].currentView.collection.parentDocument.get('annotations').toJSON(),
            url = '/document/{{task.pk}}/'+ section_pk +'/annotation/';
        ann_counter += annotations.length;

        var csrf = $('form').find('input[name="csrfmiddlewaretoken"]').val();

        /* Iterate over each of the annotations within that section */
        _.each(annotations, function(annotation) {
          $.ajax({
            type: 'POST',
            url: url,
            data: $.extend({'csrfmiddlewaretoken': csrf}, annotation),
            cache: false,
            async: false,
            success: function() { counter++; },
          });
        });
      });

      /* If they all got sent to the server, let's move on */
      if(counter === ann_counter) {
        /* Submit Task over ajax, then show correct page (new / gm / partner compare) */
        $('form').trigger('submit');

        $(this).text('Next');
        $(this).attr('disabled', false);

        /* Submit Feedback and show partner */
        $.ajax({
          url:'/document/{{task.pk}}/{{document.pk}}/results.json',
          dataType: 'json',
          success: function(data) {

            partner_data = data;

            window.scrollTo(0,0);
            var points = _.find(partner_data.collection.infon, function(o){return o['@key']=='points';})['#text'];
            var partner = _.find(partner_data.collection.infon, function(o){return o['@key']=='partner';})['#text'];
            var partner_level = _.find(partner_data.collection.infon, function(o){return o['@key']=='partner_level';})['#text'];
            var flatter = _.find(partner_data.collection.infon, function(o){return o['@key']=='flatter';})['#text'];

            $('#points').html(points);
            $('#partner-username').html(partner);
            $('#partner-level').html(partner_level);
            $('#flatter').html(flatter);
            $('#partner-results').slideDown(function() {
              update_score();

              /* Show underlines */
              var passages = data.collection.document.passage;
              _.each(passages, function(passage, passage_idx) {
                YPet[passage_idx].currentView.drawBioC(passage, true);
              });
            });

          },
          error: function(error_res) {
            console.log(error_res.responseText);
            _.each(passages, function(passage, passage_idx) {
              YPet[passage_idx].currentView.drawBioC(null, true);
            });
            window.scrollTo(0,0);
            $('#new-alert-congrats').slideDown()
          }
        });

      } else {
        alert('There was a problem submitting this document. Please try another.');
      }
    });

