extends base

- load widget_tweaks
- load humanize

block header
    - if user.is_authenticated
      include includes/header-anon
    - else
      include includes/header-anon


block content
  .container
    .row.head-space
      .col-xs-12
        h1.text-center Team #{team.name}

    hr

    .row
      .col-xs-10.col-xs-offset-1
        .panel.panel-default
          .panel-heading
            | Description
          .panel-body
            #{team.description}

    .row
      .col-xs-6.col-xs-offset-1
        .panel.panel-info
          .panel-heading
            | Quick Stats
          .panel-body
            .row
              .col-xs-6
                ol.list-unstyled
                  li Total Contributions: #{team.total_annotations.count|intcomma}
                  li Total Docs: #{team.total_documents.count|intcomma}
                  li Quests Finished: #{team.finished_quests.count|intcomma}
                  li Lifetime Score: #{team.total_score|intcomma}

              .col-xs-6
                ol.list-unstyled
                  - with user=team.last_active_user
                    li
                      p Last Active User:
                        a(href='{% url "userprofile:public-profile" username=user.username %}')
                          |  #{user.username}

                    li
                      p Last Member Activity: #{user.userprofile.last_seen|naturaltime}


      .col-xs-4
        .row
          .col-xs-12
            .panel.panel-default
              .panel-heading
                | About
              .panel-body
                ol.list-unstyled
                  li
                    p Created: #{team.created|naturaltime}
                  li
                    p Created by:
                      a(href='{% url "userprofile:public-profile" username=team.owner.username %}')
                        |  #{team.owner}
                  li
                    p Members: #{team.members_count}

                  li
                    - with userprofile=team.userprofile_set.last
                      p Newest Member:
                        a(href='{% url "userprofile:public-profile" username=userprofile.user.username %}')
                          |  #{userprofile.user.username}



    .row
      .col-xs-10.col-xs-offset-1
        .panel.panel-info
          .panel-heading
            | Members
          .panel-body
            .row
              - for member_profile in members
                .col-xs-4
                  a(href='{% url "userprofile:public-profile" username=member_profile.user.username %}')
                    p.lead.text-center #{member_profile.user.username}
