extends training/exp-2-intro-3/step-base

block header
  - with headerMessage='Training 3 – Learning a new concept: Treatments'
    include includes/header-anon

block step-instructions
  h2 Drugs may also be categorized into drug classes, and sometimes will be referred to in the text by the drug class.
  p In the box below, mark every instance of the drug and the drug class (rule #1)
  p Also, mark abbreviations of the drug or drug class separately from the terms they represent (rule #3)

block paragraph
  p.paragraph Fluoxetine belongs to a class of drugs known as selective serotonin reuptake inhibitors ( SSRIs ) which work by prolonging the duration of serotonin in neuronal synapses .

block progress-bar
  div(role='progressbar', aria-valuenow='40', aria-valuemin='0', aria-valuemax='100', style='width: 40%;').progress-bar.progress-bar-striped.active

block next-link
  a(href='{% url "training:three" step_num=4 %}', id='next', disabled).btn.btn-default.pull-right Next

block answers
  script.
      var help = [
        {text: 'serotonin', msg: 'Nice try, but serotonin is not a drug – it\'s a neurotransmitter. Try again!'},
        {text: 'selective serotonin', msg: 'Include the entire name of the drug class'},
        {text: 'selective serotonin reuptake', msg: 'Include the entire name of the drug class'},
        {text: 'serotonin reuptake inhibitor', msg: 'Include the entire name of the drug class'},
        {text: 'reuptake inhibitor', msg: 'Include the entire name of the drug class'},
        {text: 'selective serotonin reuptake inhibitors ( SSRIs )', msg: 'Whenever possible, mark abbreviations separately from the terms they represent.'},
        {text: 'selective serotonin reuptake inhibitors ( SSRIs', msg: 'Whenever possible, mark abbreviations separately from the terms they represent.'},
      ];
      var answers = [
        {text: "Fluoxetine", start: 0},
        {text: "selective serotonin reuptake inhibitors", start: 48},
        {text: "SSRIs", start: 90}];
