extends training/exp-2-intro-3/step-base

block step-instructions
  h2 Drugs may have multiple names, and can appear in the text under any of those names. Drugs may have an experimental name, chemical name, a generic name (non-proprietary), or a trade or brand name (proprietary)
  p In the box below, mark every instance of a drug separately (rule #1), using the minimum span needed to encompass each individual drug mention (rule #2).

block paragraph
  p.paragraph Lilly 110140 was approved for treating of depression under the name fluoxetine hydrochloride and has since been marketed under many names including , Prozac and Sarafem .

block progress-bar
  div(role='progressbar', aria-valuenow='20', aria-valuemin='0', aria-valuemax='100', style='width: 20%;').progress-bar.progress-bar-striped.active

block next-link
  a(href='{% url "training:three" step_num=3 %}', id='next', disabled).btn.btn-default.pull-right Next

block answers
  script.
    var help = [
      {text: 'depression', msg: 'Mark only treatment concepts in this tutorial. Do NOT mark disease or gene concepts'},
      {text: 'fluoxetine', msg: 'Mark the full name of the drug or treatment as specifically as possible'},
      {text: 'hydrochloride', msg: 'Mark the full name of the drug or treatment as specifically as possible'},
      {text: 'Prozac and Sarafem', msg: 'Mark different drug names separately even if they are the same drug'},
    ];
    var answers = [{text: "Lilly 110140", start: 0}, {text: "fluoxetine hydrochloride", start: 68}, {text: "Prozac", start: 150}, {text: "Sarafem", start: 161}];
