extends base

- load widget_tweaks
- load humanize
- load as_vertical_form from bootstrap
- load as_horizontal_form from bootstrap

block header
  - with headerMessage='Account Settings'
    include includes/header

block content
  .container
    - if messages
      - for message in messages
        - if 'safe' in message.tags
          .row
            .col-xs-10.col-xs-offset-1
              div(class='{{ message.tags }}').alert
                {{ message|safe }}

  .container
    .row.head-space
      .col-sm-6.col-xs-10.col-xs-offset-1
        form.form-horizontal
          .form-group
            label(for='id_username').control-label.col-md-4 Username
            .col-md-8
              input(type='text', value='{{user.username}}', disabled).form-control

          .form-group
            label(for='id_email').control-label.col-md-4 Email
            .col-md-8
              input(type='text', value='{{user.email}}', disabled).form-control

    hr
    form(method='post').form-horizontal
      - csrf_token

      .row
        .col-md-12.col-xs-10.col-xs-offset-1
          h2 Account Settings

        .col-md-12.col-xs-10.col-xs-offset-1
          .row
            .col-sm-8
              fieldset
                #{user_change_form.first_name|as_horizontal_form}
                #{user_change_form.last_name|as_horizontal_form}

            .col-sm-2.col-sm-offset-1.col-xs-offset-1.col-xs-10
              #{user_profile_form.team|as_vertical_form}
              - if user_profile_form.team.value == None
                #{team_form.name|as_vertical_form}

      hr
      .row
        .col-md-12.col-xs-10.col-xs-offset-1
          h2 Profile Information

        .col-md-12.col-xs-10.col-xs-offset-1
          .row
            .col-md-4.col-md-offset-1
              #{user_profile_form.motivation|as_vertical_form}
            .col-md-4.col-md-offset-1
              #{user_profile_form.referral|as_vertical_form}

          .row
            .col-md-9.col-md-offset-1
              #{user_profile_form.quote|as_vertical_form}

          .row.head-space
            .col-sm-3.col-sm-offset-7
              button(type='submit').btn.btn-default.btn-block.pull-right Update
