- load widget_tweaks

!!! 5
head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')

    link(rel='shortcut icon', href='#{STATIC_URL}favicon.ico', type='image/x-icon')
    link(rel='icon', href='#{STATIC_URL}favicon.ico', type='image/x-icon')

    link(rel='apple-touch-icon', href='#{STATIC_URL}touch-icon-iphone.png')
    link(rel='apple-touch-icon', sizes='76x76', href='#{STATIC_URL}touch-icon-ipad.png')
    link(rel='apple-touch-icon', sizes='120x120', href='#{STATIC_URL}touch-icon-iphone-retina.png')
    link(rel='apple-touch-icon', sizes='152x152', href='#{STATIC_URL}touch-icon-ipad-retina.png')

    block social-tags
      meta(name='description', content='Mark2Cure – Scientific communication is broken')
      meta(name='keywords', content='mark2cure, the scripps research institute, max nanis, ben good, andrew su, biology')

      meta(name='author', content='Mark2Cure')
      meta(name='copyright', content='Mark2Cure')
      meta(name='application-name', content='Mark2Cure')

      meta(property='og:title', content='Mark2Cure')
      meta(property='og:type', content='article')
      meta(property='og:image', content='#{STATIC_URL}static/img/mark2ure.png')
      meta(property='og:url', content='http://mark2cure.org')
      meta(property='og:description', content='')

      meta(name='twitter:card', content='summary')
      meta(name='twitter:title', content='Mark2Cure')
      meta(name='twitter:description', content='')
      meta(name='twitter:image', content='#{STATIC_URL}static/img/profile.jpg')

    block head-title
      title Mark2Cure

    //- Libs
    link(rel='stylesheet', href='#{STATIC_URL}css/bootstrap.min.css')
    link(rel='stylesheet', href='#{STATIC_URL}css/selectize.bootstrap3.css')
    link(rel='stylesheet', href='#{STATIC_URL}css/introjs.min.css')
    link(rel='stylesheet', href='#{STATIC_URL}css/introjs-nassim.css')
    link(rel='stylesheet', href='#{STATIC_URL}css/odometer-theme-minimal.css')


    //- Fonts
    link(rel='stylesheet', href='#{STATIC_URL}fonts/equity_text_b_regular/equity.css')
    link(rel='stylesheet', href='#{STATIC_URL}fonts/px-grotesk/PxGrotesk-font.css')

    //link(rel='stylesheet', href='#{STATIC_URL}fonts/font-awesome/font-awesome.min.css')
    link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css')

    //- Site Styles
    link(rel='stylesheet', href='#{STATIC_URL}css/bootstrap-theme.css')
    link(rel='stylesheet', href='#{STATIC_URL}css/style.css')
    link(rel='stylesheet', href='#{STATIC_URL}css/document-style.css')
    //link(rel='stylesheet', href='#{STATIC_URL}css/landing-style.css')

  body
    block header
      .container-fluid
        .row
          .col-sm-6.col-sm-offset-3.col-xs-6.col-xs-offset-0
            h1.text-center
              a(href='/') Mark2Cure

          - if not user.is_authenticated
            .col-sm-2
              a(data-toggle="modal", data-target="#loginModal").btn.btn-default.btn-inverse.pull-right.head-space Login


    block content

    block pre-footer

    block footer
      include includes/footer
      script(src="//code.jquery.com/jquery-1.11.1.min.js")
      script(src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js")
      script(src="#{STATIC_URL}js/libs/underscore-min.js")
      script(src="#{STATIC_URL}js/libs/backbone-min.js")
      script(src='#{STATIC_URL}js/libs/underscore.string.min.js')
      script(src='#{STATIC_URL}js/libs/backbone-relational.js')
      script(src='#{STATIC_URL}js/libs/backbone.marionette.min.js')

      script(src='#{STATIC_URL}js/libs/d3.v3.js')
      script(src='#{STATIC_URL}js/libs/md5.js')
      script(src='#{STATIC_URL}js/libs/moment.js')
      script(src='#{STATIC_URL}js/libs/selectize.js')
      script(src='#{STATIC_URL}js/libs/intro.min.js')
      script(src='#{STATIC_URL}js/libs/odometer.min.js')
      script(src='#{STATIC_URL}js/libs/modernizr.custom.js')

      script(src='#{STATIC_URL}js/ypet.js')
      script(src='#{STATIC_URL}js/leaderboard.js')
      script(src='#{STATIC_URL}js/app.js')
      script(src='//cdn.ravenjs.com/1.1.18/backbone,jquery,native/raven.min.js')

      a#support-icon(data-toggle="modal", data-target="#support-modal")
        img(src='#{STATIC_URL}images/support-icon.png')

      include instructions/multi-concept-instructions-modal
      .modal.fade#support-modal
        .modal-dialog
          .modal-content
            .modal-header
              h2.modal-title Contact Support
              h4 Stuck? Have a look at the <a data-dismiss="modal" data-toggle="modal" data-target="#instructionsModal">HELP page</a> for the current task, or write us a message and we will get back to as soon as possible.
              - if not request.user.is_authenticated
                h5.text-center Please include your email address so we can reply to your comment (or <a href="mailto:contact@mark2cure.org?Subject=Mark2Cure">email us directly</a>).

            .modal-body
              form(method="post", role='form', action="{% url 'common:support' %}").form-via-ajax
                - csrf_token
                - if request.user.is_authenticated
                  input(type='hidden', name='user', value='{{user.pk}}')
                input(type='hidden', name='referral', value='{{request.path}}')
                .form-group
                  label Message
                  textarea(name='text').form-control
            .modal-footer
              button(type="button", data-dismiss="modal").btn.btn-default Cancel
              button(type="button").btn.btn-default.modal-form-submit Submit

      script.
        var raven_options = {
          logger: 'js-logger',
          whitelistUrls: [/mark2cure\.org/, /localhost/],
          fetchContext: true,
          linesOfContext: 30
        };
        Raven.config('http://9ad160c7d8394f4e96c0da30f9d50a14@sentry.sulab.org/3', raven_options).install();
        Raven.setUser({
          email: "{{ request.user.email }}",
          id: "{{ request.user.pk }}"
        });

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-43341013-1']);
        _gaq.push(['_setDomainName', 'mark2cure.org']);
        _gaq.push(['_trackPageview']);
        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

      .modal.fade#touch-modal
        .modal-dialog
          .modal-content
            .modal-header
              h2.modal-title On a touch screen?

            .modal-body
              p.lead At the moment, Mark2Cure is best accessed with some sort of computer or laptop and not a mobile device.
              p.lead.text-center Please use a computer or laptop (<strong>preferably with a mouse</strong>) when joining Mark2Cure.

            .modal-footer
              button(type="button", data-dismiss="modal").btn.btn-default Okay
      script.
        if(Modernizr.touch) { $('#touch-modal').modal('show'); }


    block post-footer

    block modals

