extends base

block header
  - with headerMessage='Training 1 – Learning a new concept: Diseases'
    include includes/header-anon


block content
  .container
    .row
      .col-xs-8.col-xs-offset-2
        .row.alert.alert-info.alert-sticky.text-center
          h2 This is what you marked in Training #1!
          h4 Most people don't think they can do this and would be scared to try, but <strong>YOU DID IT!</strong>
          h4 Highlighting diseases like this is how you will earn points and help science!
          .col-xs-4.col-xs-offset-4
            a(href='{% url "training:one" step_num="feedback" %}', id='next').btn.btn-default.pull-right Next

    .row.head-space
      #quest.col-md-10.col-md-offset-1.paragraph-box
        p.paragraph.results To assess the management of <span class='user_annotated'>diabetes</span> , we reviewed records of 20 <span class='user_annotated'>diabetes</span> patients . Of the 20 patients , 17 had <span class='user_annotated'>type 2 diabetes mellitus</span> . The remaining 3 had <span class='user_annotated'>inherited and/or type I diabetes mellitus</span> . We will discuss the effect of different insulin regimen on <span class='user_annotated'>type 2 diabetes mellitus patients</span> ( ie- <span class='user_annotated'>T2DM</span> patients ) with or without <span class='user_annotated'>rheumatoid arthritis</span> ( <span class='user_annotated'>RA</span> ) or <span class='user_annotated'>heart disease</span> ( <span class='user_annotated'>HD</span> ). In particular , we will examine the effects of these insulin regimen on symptoms of the diseases . We will focus on common symptoms such as <span>fatigue</span> as well as <span class='user_annotated'>frequent urination</span> . We will also consider <span class='user_annotated'>abnormal blood glucose levels</span> as well as <span class='user_annotated'>tingling and/or numbness in the hands , legs , or feet</span> .

    .row.head-space-xl
      .col-md-10.col-md-offset-1
        .progress
          div(role='progressbar', aria-valuenow='100', aria-valuemin='0', aria-valuemax='100', style='width: 100%;').progress-bar.progress-bar-striped.active

    .row.head-space
      a(href='{% url "training:one" step_num="feedback" %}', id='next').btn.btn-default.pull-right Next

