extends training/exp-2-intro-1/step-base

block step-instructions
  h2 Mark specific forms of the disease preferentially over non-specific forms.
  p In the box below, mark the minimum span needed to cover the specific form of the disease (rule #2)

block paragraph
  p.paragraph Of the 20 patients , 17 had type 2 diabetes mellitus .

block progress-bar
  div(role='progressbar', aria-valuenow='12.5', aria-valuemin='0', aria-valuemax='100', style='width: 12.5%;').progress-bar.progress-bar-striped.active

block next-link
  a(href='{% url "training:one" step_num=3 %}', id='next', disabled).btn.btn-default.pull-right Next

block answers
  script.
    var help = [
      {text: 'diabetes', msg: 'You can be more specific, try again!'},
      {text: 'diabetes mellitus', msg: 'Almost, but you can still be more specific than that. Try again!'},
      {text: 'type 2 diabetes', msg: 'Almost, but you can still be more specific than that. Try again!'},
    ];
    var answers = [{text: 'type 2 diabetes mellitus', start: 28}];
