extends training/exp-2-intro-1/step-base

block step-instructions
  h2 A <strong>sign (or diagnostic sign)</strong> is a symptom or test result that supports a disease diagnosis.
  p These generally exclude genetic tests, which often define (as opposed to support) a disease diagnosis
  p In the box below, use the minimum span needed to mark the entire specific sign (rule #2)

block paragraph
  p.paragraph We will also consider abnormal blood glucose levels …

block progress-bar
  div(role='progressbar', aria-valuenow='75', aria-valuemin='0', aria-valuemax='100', style='width: 75%;').progress-bar.progress-bar-striped.active

block next-link
  a(href='{% url "training:one" step_num=8 %}', id='next', disabled).btn.btn-default.pull-right Next

block answers
  script.
      var help = [
        {text: 'blood glucose levels', msg: 'That\'s just a test result anyone could have. Mark all the terms needed for it to be a sign'},
        {text: 'abnormal blood glucose', msg: 'Almost, mark all the terms needed for it to be understood as a sign'},
      ];
      var answers = [{text: "abnormal blood glucose levels", start: 22}];
